@font-face {
	font-family: 'Uni Sans';
	src: url(unisans-heavy.otf);
	font-weight: bold;
	font-weight: 600;
	color: #2C2F33;
}
* {
	margin: 0;
	padding: 0;
}
span{
    pointer-events: none;
    float:center;
    position:relative;
    cursor:pointer;
}
body {
	background-color:	#2A2D32;
    background-size:	cover;
    background-repeat:	no-repeat;
    background-position:center 0%;  
	text-decoration: none;
	font-family: 'Uni Sans';
	font-weight: 300;
	font-size: 10pt;
}

.button {
  display: inline-block;
  padding: 20px 20px;
  width: 100%;
  font-size: 100px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.upgrade {
  display: inline-block;
  margin: 20px 0px 0px 0px;
  padding: 0px 0px;
  width: 50%;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.full {
  width: 100%
}
.display{
	font-size:60px;
	font-family:Helvetica;
	text-align:center;
	font-weight: 900;
	color: 00bb00;
	text-shadow: 3px 0px #005500
}
footer{ 
  position:absolute; 
  bottom:0; 
  width:100%; 
  height:100px; 
}
#enemies {
	width:40%;
	float:left
}
#enemies2 {
	left: 60%;
	position: absolute;
	width:40%;
	vertical-align:top
}
.enemy {
  margin:10px 10px 10px 10px;
  display: inline-block;
  padding: 20px 40px;
  font-size: 40px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #FFAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.input {
  display: inline-block;
  padding: 20px 20px;
  width: 100%;
  font-size: 100px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.input:hover {background-color: #3e8e41}

.input:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.centerX {
  margin: 0;
  position: absolute;
  left: 50%;
}
span{
    float:center;
    position:relative;
    cursor:pointer;
}
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}
/* CSS & HTML for chat from w3schools */
/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #555;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #555;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #333
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}